/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Colors and Backgrounds */
:root {
    --black: #0a0a0a;
    --dark-grey: #312f2f;
    --grey: #5e5959;
    --light-grey: #868686;
    --lighter-grey: #cdc5c5;
    --red: #FB5E69;
    --red-hover: #de6b6f;
    --blue: #9bb4cb;
    --off-white: #f4f8fa;
    --off-white-hl: #f1e9e9;
}

body {
    font-family: Rowdies, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--black);
    text-transform: uppercase;
    font-size: 2em;
    font-weight: regular;
}

h2{
    color: var(--dark-grey);
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: regular;
}

h3{
    color: var(--grey);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: regular;
}

h4{
    text-transform: capitalize;
    font-size: 1.25em;
    font-weight: normal;
}

p{
    font-family: 'FontinSans', sans-serif;
    padding: 1em 0;
}

/*HEADER*/

header{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
}

nav{
    display: flex;
    padding: 16px;
    flex: 1 0 0;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

nav a{
    text-decoration: none;;
}

header nav:first-child {
    background-color: var(--dark-grey);
    z-index: 100;
}
header nav:nth-child(2) {
    background-color: var(--lighter-grey);
    z-index: 100;
}

.logo{
    background-image: url("../assets/logo/cardforge-logo.svg");
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app-name{
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

.header-avatar{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid var(--dark-grey);
}

.header-avatar:hover{
    cursor: pointer;
    border: 2px solid var(--red-hover)
}

.header-cart{
    width: 24px;
    height: 24px;
    position: relative;
}

.header-cart #cart-count{
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: -5px;
    right: 0;
}

.cart-icon{
    background-image: url("../assets/icons/cart.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    flex: 1 0 0;
    background-color: var(--off-white);
    height: 32px;
}

.search-bar input[type="text"]{
    border: none;
    padding: 16px 8px;
    flex: 1 0 0;
}

.search-bar input[type="submit"]{
    width: 48px;
    height: 32px;
    padding: 8px 8px;
    background-color: var(--black);
    border: none;
}

.search-icon{
    background-image: url("../assets/icons/search.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

/*Account Nav*/

.account-nav{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--red-hover);
    border-bottom-left-radius: 8px;
    padding: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 99;
    min-width: 240px;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
}

.account-nav.active{
    transform: translateY(100%);
}

.account-nav a{
    text-decoration: none;
    color: var(--off-white);
    font-family: 'Rowdies', sans-serif;
    font-size: 1.125em;
    font-weight: 300;
    text-transform: uppercase;
}

.account-nav a:hover{
    color: var(--blue);
}

.account-nav .btn:hover{
    color: var(--off-white);
}

/*BANNER*/

.caret-icon{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/icons/caret.svg");
    cursor: pointer;
}

.banner-caret{
    width: 30px;
    height: 30px;
}

/*Main*/

main{
    padding: 24px 24px 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1 0 0;
}

.seperator{
    background-color: var(--dark-grey);
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;

    /* border corner shape rounded */
}

.btn{
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    text-transform: uppercase;
    font-size: 400;
    background-color: var(--dark-grey);
    color: var(--off-white);
    text-decoration: none;
    border-radius: 8px;
    transition: 0.5s;
    width: 100%;
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    border: none;
}

.btn--buy{
    background-color: var(--red);
}

.btn--secondary{
    background-color: var(--grey);
}

.btn--remove{
    height: 32px;
    width: 32px;
    font-size: 1.5em;
    font-weight: 500;
    background-color: var(--red);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background-color: var(--grey);
    cursor: pointer;
}

.btn--secondary:hover{
    background-color: var(--light-grey);
}

.btn--buy:hover{
    background-color: var(--red-hover);
}

/*Franchises*/
.franchises{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.franchises a{
    display: block;
    width: 100%;
    height: 220px;
    padding: 32px 24px;
    background-color: var(--red);
    border-radius: 8px;
    transition: 0.5s;
    text-decoration: none;
    position: relative;
}

.franchises a:hover{
    background-color: var(--red-hover);
    cursor: pointer;
}

.franchises a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fracnhises a .all-franchises-img{
    filter: brightness(0.3);
}

.franchises a h3{
    color: var(--off-white);
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* add drop shadow to text */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.account-avatar{
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--dark-grey);
    margin: 16px auto;
}

.myaccount-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

/*products*/

.product-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px; /* Horizontal gap */
    row-gap: 40px; /* Vertical gap */
}

.product-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: var(--off-white);
    transition: 0.5s;
    border-radius: 8px;
    text-decoration: none;
}

.product-listing img {
    height: 100px;
    object-fit: contain;
}

.product-listing h5 {
    font-size: 1.125em;
    color: var(--black);
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    /* limit to 3 lines and handle overflow */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -moz-box;
    -moz-line-clamp: 3;
    -moz-box-orient: vertical;
}

.product-listing span{
    font-size: 0.875em;
    color: var(--red);
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
}

.product-listing:hover{
    background-color: var(--off-white-hl);
    cursor: pointer;
}

.product-filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Footer */

footer{
    color: var(--off-white);
}

footer section div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: var(--dark-grey);
}

footer section ul{
    background-color: var(--grey);
}

footer section li{
    background-color: var(--grey);
    font-family: 'FontinSans', sans-serif;
    font-size: 1.25em;
    font-weight: normal;
    padding: 8px 32px;
    color: #fff;
}

footer section a{
    text-decoration: none;
    color: #fff;
}

/*Product Page*/

.product-header{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-nav{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-flow: row wrap;
    color: var(--light-grey);
    gap: 4px 8px;
    padding: 0;
    font-size: 1.25em;
}

.product-nav a{
    text-decoration: none;
    color: var(--light-grey);
    font-weight: 300;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

.product-nav .current{
    color: var(--grey);
}

.product-nav a:hover{
    color: var(--blue);
}

.price-like-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-like-wrap *{
    font-size: 2em;
    font-weight: 200;
}

.price-like-wrap .price{
    color: var(--red);
}

.price-like-wrap .like{
    color: var(--dark-grey);
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.price-like-wrap .like:hover{
    color: var(--red);
}

.product-header h1{
    font-weight: 400;
    text-transform: none;
    font-size: 2em;
}

.product-header .reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-header .reviews .rating{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.rating span{
    color: var(--blue);
}

.product-header .reviews .rating span{
    font-size: 1.5em;
}

.product-header .reviews .num-reviews{
    color: var(--grey);
    font-size: 1.125em;
    font-family: 'fontinSans', sans-serif;
}

.product-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-section .review{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-section .review section{
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.product-section .info{
    font-family: 'fontinSans', sans-serif;
    color: var(--light-grey);
}

.product-section .info span{
    font-size: 0.8em;
}

.product-section p{
    padding: 0;
}

/*Form*/

.form, .review-input{
    display: flex;
    flex-direction: column;
}

.review-input{
    gap: 16px;
}

.form section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form section div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form label, .form .label, .review-input label{
    color: var(--grey);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: regular;
    line-height: 1em;
}

.review-input label{
    font-size: 1.25em;
    color: var(--dark-grey);
}

.form label span, .form .label span{
    color: var(--red);
    font-size: 1.5em;
    font-weight: 300;
}

.form .instruction{
    font-family: 'fontinSans', sans-serif;
}

.form input[type="text"], .form input[type="email"], .form input[type="password"], .form input[type="number"], .form input[type="tel"]{
    padding: 12px 8px;
    border: 2px solid var(--grey);
    border-radius: 8px;
    font-family: "FontinSans", sans-serif;
}

.form textarea, .review-input textarea{
    padding: 12px 8px;
    border: 2px solid var(--grey);
    border-radius: 8px;
    font-family: "FontinSans", sans-serif;
    resize: none;
    height: 160px;
}

.form select, .product-filters select, .review-input select{
    padding: 12px 8px;
    border: 2px solid var(--grey);
    border-radius: 8px;
    font-family: "FontinSans", sans-serif;
    background-color: #fff;
}

.review-input select{
    width: 100px;
}

.form input[type="date"]{
    padding: 12px 8px;
    border: 2px solid var(--grey);
    border-radius: 8px;
    font-family: "FontinSans", sans-serif;
    background-color: #fff;
}

.form .input-image-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid var(--grey);
    border-radius: 50%;
    background-color: var(--off-white);
    margin: 0 auto;
}

.form .input-image-wrap--product{
    border-radius: 8px;
}

.form input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    display: none;
}

.form .img-label{
    background-color: rgba(97, 93, 93, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
}

.form .img-label i{
    color: var(--off-white);
    font-size: calc(1em + 0.5vw);
}

.form .uploaded-images{
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.form .uploaded-images img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.password-toggle {
    position: relative;
}

.password-toggle input[type="password"] {
    padding-right: 30px;
}

.password-toggle .toggle-icon {
    position: absolute;
    bottom: 20px;
    transform: translateY(+50%);
    right: 10px;
    cursor: pointer;
}

.error {
    background-color: #ffcccc;
    color: #ff0000;
    border: 2px solid #ff0000;
    padding: 16px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    margin: 0 24px;
}

.success{
    background-color: #ccffcc;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 16px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    margin: 0 24px;
}

/*Slider*/

.productGallery, .bannerGallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.slideshow-container{
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideshow-container--banner{
    position: relative;
}

.slider-wrap{
    border-radius: 8px;
    width: 60%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-container--banner .slider-wrap{
    width: 100%;
    border-radius: 0;
}


.slider{
    display: flex;
    transition: tranform 0.4s ease-in-out;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.slide{
    min-width: 100%;
    height: 300px;
    transition: transform 0.5s ease-in-out;
}

.slideshow-container--banner .slide{
    position: relative;
}

.slide .slide-img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 8px;
}

.slideshow-container--banner .slide .slide-img{
    border-radius: 0;
    object-fit: cover;
}

.slide .slide-logo{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
}

.prev, .next{
    cursor: pointer;
    display: block;
    font-size: 2em;
    color: var(--light-grey);
    background-color: transparent;
    border: none;
    padding: 0 0.2em;
    border-radius: 4px;
    transition: 0.3s ease;
    z-index: 10;
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
}

.slideshow-container--banner .prev, .slideshow-container--banner .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--off-white);
    background-color: rgba(68, 66, 73, 0.2);
}

.slideshow-container--banner .prev{
    left: 16px;
}

.slideshow-container--banner .next{
    right: 16px;
}

.prev:hover, .next:hover{
    color: var(--dark-grey);
    background-color: rgba(138, 159, 179, 0.2);
}

.dots-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 8px;
}

.dot{
    height: 16px;
    width: 16px;
    background-color: var(--light-grey);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active{
    background-color: var(--dark-grey);
}

.dot:hover{
    background-color: var(--blue);
}

/* Cart */

.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.cart-item .product-name{
    flex: 1 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
}

.cart-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cart-total{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.cart-total .price{
    font-size: 1.8em;
    color: var(--red);
}

.btn--cart{
    background-color: var(--red);
}

/*order*/

.order-details p{
    padding: 0;
}

.orders-wrap .order{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.order-details-wrap{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.order-details-wrap .order-product{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 8px;
}

.order-details-wrap .order-product div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.order-details-wrap .order-product p{
    padding: 0;
}

.order-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}

/*search*/

.search-request{
    color: var(--grey);
    text-transform: initial;
}

/*admin table*/

/* style .table, .table tr, .table th and .table td */

.table-wrap{
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
}

.table tr{
    height: 124px;
}

.table th, .table td{
    border: 1px solid var(--light-grey);
    padding: 8px;
    height: 100%;
}

.table .table-img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
} 

.table th{
    background-color: var(--dark-grey);
    color: var(--off-white);
    text-transform: uppercase;
}

.table tr:nth-child(even){
    background-color: var(--off-white);
}

.table tr:nth-child(odd){
    background-color: var(--off-white-hl);
}

.table td img{
    width: 120px;
    height: 80px;
    object-fit: contain;
    margin: 0 auto;
}

.table td .btn{
    font-size: 1.125em;
    background-color: rgb(47, 132, 47);
    padding: 8px 8px;
    margin-bottom: 8px;
}

.table td .btn--delete{
    background-color: rgb(201, 55, 55);
    margin: 0;
}


/*hidden*/

.hidden{
    display: none;
}